.grid-container {
  overflow-x: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #080808;
  border-collapse: collapse; /* Added to ensure borders collapse */
}

.grid-container table {
  width: 100%; /* Ensure table takes up full container width */
  border-spacing: 0; /* Remove spacing between cells */
}

.grid-container th, 
.grid-container td {
  border: 1px solid #ccc; /* Light grey border for cells */
  padding: 8px; /* Padding inside cells */
  text-align: right; /* Right-align text for better number readability */
}

.grid-container th {
  background-color: #f4f4f4; /* Light grey background for headers */
  font-weight: bold; /* Make header text bold */
}

.grid-container .sticky-header th {
  position: sticky;
  top: 0;
  background-color: #e0e0e0; /* Slightly darker grey for sticky header */
  z-index: 10;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); /* Add shadow to sticky header */
}

.grid-container tr:nth-child(even) {
  background-color: #f9f9f9; /* Lighter background for even rows */
}

.grid-container tr.hoverable:hover {
  background-color: #e0f7fa; /* Light blue background for hover effect */
}

@media only screen and (max-width: 767px) {
  .grid-container {
    display: block;
  }

  .grid-container table {
    width: auto;
  }

  .grid-container th,
  .grid-container td {
    white-space: nowrap;
  }

  .grid-container .strike-column {
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff; /* or any other color you prefer */
    z-index: 5;
  }

  .grid-container .ce-column,
  .grid-container .pr-column {
    min-width: 120px; /* adjust as needed */
  }
}

